/* 左浮动 */
.left {
    float: left;
}

/* 右浮动 */
.right {
    float: right;
}

/* 解决高度坍塌问题 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body{
    font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}