/* 重置文本框 */
input,button{
    border: none;
    outline: none;
    outline-offset: 0;
}
/*重置按钮 */
button{
    background: initial;
    padding: 0;
}

body{
    margin: 0;
}

form{
    border:0;
    margin:0;
    padding:0;

}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}